html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --nice-white: #FFFFFF;
  --nice-gray: #FAFAFA;
  --nice-dark-gray: #3C3C3C;
  --nice-red: #C45E5E;
  --nice-green: #1CA9A0;
}

html {
  font-family: 'Montserrat', sans-serif;
}

.no-wider-than {
  margin: auto;
  max-width: 1400px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.full-width-gray {
  background-color: var(--nice-gray);
  width: 100vw;
}

.full-width-green {
  background-color: var(--nice-green);
  width: 100vw;
}

.hello {
  padding: 85px 9%;
}

.hello h1 {
  font-size: 64px;
  font-weight: 900;
  font-style: italic;
  color: var(--nice-green);
  padding-bottom: 20px;
}

.hello h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3;
  width: 68%;
  color: var(--nice-red);
}

.samples {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr minmax(275px, 450px) 0.5fr 40px 0.5fr minmax(275px, 450px) 1fr 10%;
      grid-template-columns: 10% 1fr minmax(275px, 450px) 0.5fr 40px 0.5fr minmax(275px, 450px) 1fr 10%;
  margin-top: 85px;
}

.samples h2 {
  font-weight: 500;
  font-size: 31.0909px;
  line-height: 38px;
  min-height: 76px;
  color: var(--nice-green);
}

.samples ul {
  list-style: disc;
  padding-left: 15px;
  margin-top: -70px;
  font-size: 18px;
  line-height: 1.4;
  color: var(--nice-dark-gray);
  margin-bottom: 40px;
}

.samples picture img {
  width: 571px;
  margin-left: -20%;
}

.item1 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.item2 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7 / 8;
}

.button a {
  width: 135px;
  height: 49px;
  margin: auto;
  background: var(--nice-green);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 85px;
  text-decoration: none;
}

.button a h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: auto;
  color: var(--nice-white);
}

.js-button a {
  background: var(--nice-red);
  margin-bottom: 30px;
}

.contact {
  color: var(--nice-dark-gray);
  padding: 85px 9% 40px;
}

.contact h1 {
  font-style: italic;
  font-weight: 900;
  font-size: 48px;
  padding-bottom: 30px;
}

.contact h2 {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
}

.contact p {
  font-weight: 400;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: var(--nice-red);
}

.highlight {
  color: var(--nice-green);
}

.js-samples {
  padding: 70px 9%;
  color: var(--nice-dark-gray);
}

.js-samples h1 {
  color: var(--nice-white);
  font-style: italic;
  font-weight: 900;
  font-size: 48px;
  padding-bottom: 40px;
}

.js-samples h2 {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  padding: 20px;
}

.js-samples p {
  padding: 0 20px 30px;
  font-weight: 400;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.3;
}

.js-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.js-child {
  width: 390px;
  background-color: var(--nice-gray);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.js-child img {
  width: 390px;
}

.worktogether {
  width: 62%;
  padding-bottom: 30px;
}

.nowrap {
  white-space: nowrap;
}

.nowrap a,
.nowrap a:visited {
  text-decoration: none;
  color: var(--nice-green);
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-left: 5%;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
}

@media screen and (max-width: 1174px) {
  .samples picture img {
    width: 369px;
    margin-left: -10%;
  }
  .js-child,
  .js-child img {
    width: 350px;
  }
  .icons {
    width: 85%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 930px) {
  .js-parent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .js-child,
  .js-child img {
    width: 400px;
  }
  .top-child {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 800px) {
  .samples {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10% 1fr minmax(275px, 450px) 1fr 10%;
        grid-template-columns: 10% 1fr minmax(275px, 450px) 1fr 10%;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .samples picture img {
    width: 571px;
  }
  .item1 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .item2 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .icons {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 750px) {
  .links {
    display: block;
  }
  .nowrap {
    padding-bottom: 15px;
  }
  .container {
    margin-left: 0;
  }
}

@media screen and (max-width: 650px) {
  .samples picture img {
    width: 571px;
    margin-left: -15%;
  }
  .links {
    display: block;
  }
  .nowrap {
    padding-bottom: 15px;
  }
  .container {
    margin-left: 0;
  }
}

@media screen and (max-width: 565px) {
  .hello {
    padding: 65px 9%;
  }
  .hello h1 {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 1px;
    font-style: italic;
    color: var(--nice-green);
    padding-bottom: 20px;
  }
  .hello h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    width: 80%;
  }
  .samples {
    margin-top: 65px;
  }
  .samples ul {
    font-size: 16px;
  }
  .samples picture img {
    width: 369px;
    margin-left: -5%;
  }
  .button a {
    margin-bottom: 65px;
  }
  .js-button a {
    margin-bottom: 30px;
  }
  .js-child,
  .js-child img {
    width: 390px;
  }
  .contact {
    padding-top: 65px;
  }
  .contact .worktogether {
    width: 70%;
    font-size: 18px;
    font-weight: 400;
  }
  .links {
    margin-bottom: 35px;
  }
  .icons a img {
    width: 42px;
  }
}

@media screen and (max-width: 425px) {
  .js-child,
  .js-child img {
    width: 370px;
  }
}

@media screen and (max-width: 405px) {
  .samples picture img {
    width: 369px;
    margin-left: -12%;
  }
  .js-child,
  .js-child img {
    width: 355px;
  }
}

@media screen and (max-width: 360px) {
  .hello {
    padding: 65px 9%;
  }
  .hello h1 {
    font-size: 45px;
    letter-spacing: 1px;
  }
  .hello h2 {
    font-weight: 400;
    line-height: 25px;
    width: 100%;
  }
  .samples {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10% 1fr minmax(250px, 450px) 1fr 10%;
        grid-template-columns: 10% 1fr minmax(250px, 450px) 1fr 10%;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .samples picture img {
    width: 340px;
    margin-left: -18%;
  }
  .js-samples h1 {
    font-size: 45px;
  }
  .js-child,
  .js-child img {
    width: 345px;
  }
  .contact h1 {
    font-size: 45px;
  }
  .contact .worktogether {
    width: 90%;
  }
  .icons a img {
    width: 35px;
  }
}

@media screen and (max-width: 315px) {
  .item1 {
    overflow-x: hidden;
  }
  .item2 {
    overflow-x: hidden;
  }
}
/*# sourceMappingURL=style.css.map */