html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
}

.hello {
  background-color: #FAFAFA;
  padding: 100px 9%;
}

.hello h1 {
  font-size: 64px;
  font-weight: 900;
  font-style: italic;
  color: #1CA9A0;
  padding-bottom: 20px;
}

.hello h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  width: 68%;
  color: #C45E5E;
}

.samples {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 16% 29% 10% 29% 16%;
      grid-template-columns: 16% 29% 10% 29% 16%;
  min-width: 320px;
}

.samples h2 {
  font-weight: 500;
  font-size: 31.0909px;
  line-height: 38px;
  color: #1CA9A0;
  margin-top: 100px;
}

.samples ul {
  list-style: revert;
  padding-left: 15px;
  margin-top: -40px;
  font-size: 18px;
  line-height: 22px;
  color: #3C3C3C;
  margin-bottom: 30px;
}

.samples img {
  max-width: 120%;
  margin-left: -15%;
}

.button a {
  width: 135px;
  height: 49px;
  margin: auto;
  background: rgba(28, 169, 160, 0.89);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.button a h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: auto;
  color: #FFFFFF;
}

.item1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  min-width: 320px;
}

.item2 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  min-width: 320px;
}

.contact {
  background-color: #FAFAFA;
  color: #3C3C3C;
  padding: 100px 9% 40px;
}

.contact h1 {
  font-style: italic;
  font-weight: 900;
  font-size: 48px;
  padding-bottom: 30px;
}

.contact h2 {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
}

.contact p {
  font-weight: 500;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #C45E5E;
}

.worktogether {
  width: 62%;
  padding-bottom: 30px;
}

.nowrap {
  white-space: nowrap;
}

.highlight {
  color: #1CA9A0;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-left: 5%;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
}
/*# sourceMappingURL=style.css.map */