// Reset
@import 'reset';

html {
    font-family: 'Montserrat', sans-serif;
}

.hello {
    background-color: #FAFAFA;
    padding: 100px 9%;

    h1 {
        font-size: 64px;
        font-weight: 900;
        font-style: italic;
        color: #1CA9A0;
        padding-bottom: 20px;
        // line-height: 108%;
    }

    h2 {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        width: 68%;
        color: #C45E5E;
    }
}



.samples {
    display: grid;
    grid-template-columns: 16% 29% 10% 29% 16%;

    h2 {
        font-weight: 500;
        font-size: 31.0909px;
        line-height: 38px;
        color: #1CA9A0;
        margin-top: 100px;
    }

    ul {
        list-style: revert;
        // list-style-position: inside;
        padding-left: 15px;
        margin-top: -40px;
        font-size: 18px;
        line-height: 22px;
        color: #3C3C3C;
        margin-bottom: 30px;
    }

    img {
        // max-width: 550px;
        max-width: 120%;
        margin-left: -15%;
        // min-width: 310px;
    }
}

.button {
    width: 135px;
    height: 49px;
    margin: auto;
    background: rgba(28, 169, 160, 0.89);
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 100px;

    h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        margin: auto;
        color: #FFFFFF;
    }
}

.item1 {
    grid-column: 2 / 3;
    // max-width: 120%;
}

.item2 {
    grid-column: 4 / 5;
}



.contact {
    background-color: #FAFAFA;
    color: #3C3C3C;
    padding: 100px 9%;

    h1 {
        font-style: italic;
        font-weight: 900;
        font-size: 48px;
        padding-bottom: 30px;

    }

    h2 {
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
    }

    p {
        font-weight: 500;
        font-size: 18px;
        // line-height: 22px;
        // display: flex;
        align-items: center;
        text-align: center;
        color: #C45E5E;
    }

}

.worktogether {
    width: 62%;
    padding-bottom: 30px;
}

.nowrap {
    white-space: nowrap;
}

.highlight {
    color: #1CA9A0;
}

.links {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right: 10%;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 50%;
}